{% extends 'shop/base.html' %}

{% block content %}
<div>
    <h1>Про Майстерню краси</h1>
    <p>Ласкаво просимо до нашого магазину традиційних українських прикрас! Ми займаємося створенням автентичних, унікальних виробів ручної роботи, зберігаючи культурну спадщину України. Наші прикраси не лише передають дух минулих поколінь, але й відкривають нові горизонти для сучасного модного світу.</p>
    <p>Наша місія – поєднувати вікові традиції з сучасними тенденціями, створюючи вироби, які дозволяють кожному відчути зв'язок з українською культурою. Ми віримо, що краса має глибоке значення, і наші прикраси – це більше, ніж просто аксесуари. Це спосіб самовираження, гордості за своє коріння та вшанування традицій, які живуть у наших серцях. Кожен виріб, що виходить з наших рук, має свою унікальну історію та душу, бо ми вкладаємо в нього не лише майстерність, але й любов.</p>
    <p>Наша команда прагне дарувати вам не просто прикраси, а можливість носити частинку української культури з гордістю та натхненням. Ми цінуємо майстерність, автентичність і увагу до деталей, і саме це робить наші вироби особливими. Приєднуйтесь до нас у цій подорожі, де кожен зможе знайти свою унікальну прикрасу, що буде відображати вашу індивідуальність і любов до українських традицій.</p>
</div>
<img src="/media/about_us/about_us.png" class="d-block w-100" alt="about us">
{% endblock %}
